.container {
    margin: auto;
    max-width: 1600px;
}
.filters-container {
    margin-bottom: 32px;
}
.filters-container > * {
    margin-left: 8px;
    margin-right: 32px;
}
::ng-deep .mat-select-arrow-wrapper::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    bottom: 7px;
    color: #fff;
    content: '';
    height: 0;
    margin: 0 4px;
    position: absolute;
    width: 0;
}
.news-section {
    margin-bottom: 5em;
}
::ng-deep .mat-grid-list .mat-grid-tile .mat-figure {
    align-items: flex-start;
}
::ng-deep .mat-grid-list .mat-grid-tile {
    overflow: unset;
}
::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.post-card {
    border-radius: 24px;
    box-sizing: border-box;
    height: 40em;
    width: 100%;
}
.mat-card-image {
    height: 332px;
}
.post-content h3 {
    font-weight: 700;
    margin: 0;
    min-height: 84px;
}
.post-content sub {
    color: #e12121;
}
.news-section.news-section-wide {
    display: block;
}
.news-section.news-section-tablet {
    display: none;
}
.news-section.news-section-mobile {
    display: none;
}
@media only screen and (max-width: 1023px) {
    .news-section.news-section-wide {
        display: none;
    }
    .news-section.news-section-tablet {
        display: block;
    }
    .news-section.news-section-mobile {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .news-section.news-section-wide {
        display: none;
    }
    .news-section.news-section-tablet {
        display: none;
    }
    .news-section.news-section-mobile {
        display: block;
    }
}