<app-navbar></app-navbar>
<select [(ngModel)]="selectedCountry.value" (change)="filterNews()" placeholder="País">
    <option *ngFor="let country of countries" value="{{country.value}}" placeholder="Categoría">{{country.field}}</option>
</select>

<select [(ngModel)]="selectedCategory.value" (change)="filterNews()">
    <option *ngFor="let category of categories" value="{{category.value}}">{{category.field}}</option>
</select>

<div *ngFor="let noticia of noticias">
    <p>{{noticia.url}}</p>
    <p>{{noticia.urlToImage}}</p>      
    <p>{{noticia.title}}</p>
    <p>{{noticia.publishedAt}}</p>
    <p>{{noticia.description}}</p>    
    <p>{{noticia.author}}</p>
    <hr>
</div>
<button (click)="signOut()">Cerrar sesión</button>

