<app-navbar></app-navbar>
<div class="container">

    <div class="filters-container">
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedCountry.value" (selectionChange)="filterNews()">
                <mat-option *ngFor="let country of countries" value="{{country.value}}">{{country.field}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedCategory.value" (selectionChange)="filterNews()">
                <mat-option *ngFor="let category of categories" value="{{category.value}}">{{category.field}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!--Por falta de tiempo, improviso este "RESPONSIVE"-->
    <mat-grid-list class="news-section news-section-wide" cols="3" rowHeight="40em" gutterSize="52px">
        <mat-grid-tile *ngFor="let noticia of noticias">
            <a href="{{noticia.url}}" target="_blank">
                <mat-card class="post-card">
                    <img class="mat-card-image" src="{{noticia.urlToImage}}" alt="Foto de noticia: {{noticia.title}}">
                    <mat-card-content class="post-content">
                        <h3>{{noticia.title}}</h3>
                        <sub>Publicado: {{noticia.publishedAt | date: 'dd LLLL yyyy':'-0600':'es'}}</sub>
                        <p>{{noticia.description | excerpt: 80}}</p>
                        <p>Por: {{noticia.author}}</p>
                    </mat-card-content>
                </mat-card>
            </a>            
        </mat-grid-tile>        
    </mat-grid-list>

    <mat-grid-list class="news-section news-section-tablet" cols="2" rowHeight="40em" gutterSize="52px">
        <mat-grid-tile *ngFor="let noticia of noticias">
            <a href="{{noticia.url}}" target="_blank">
                <mat-card class="post-card">
                    <img class="mat-card-image" src="{{noticia.urlToImage}}" alt="Foto de noticia: {{noticia.title}}">
                    <mat-card-content class="post-content">
                        <h3>{{noticia.title}}</h3>
                        <sub>Publicado: {{noticia.publishedAt | date: 'dd LLLL yyyy':'-0600':'es'}}</sub>
                        <p>{{noticia.description | excerpt: 80}}</p>
                        <p>Por: {{noticia.author}}</p>
                    </mat-card-content>
                </mat-card>
            </a>            
        </mat-grid-tile>        
    </mat-grid-list>

    <mat-grid-list class="news-section news-section-mobile" cols="1" rowHeight="40em" gutterSize="52px">
        <mat-grid-tile *ngFor="let noticia of noticias">
            <a href="{{noticia.url}}" target="_blank">
                <mat-card class="post-card">
                    <img class="mat-card-image" src="{{noticia.urlToImage}}" alt="Foto de noticia: {{noticia.title}}">
                    <mat-card-content class="post-content">
                        <h3>{{noticia.title}}</h3>
                        <sub>Publicado: {{noticia.publishedAt | date: 'dd LLLL yyyy':'-0600':'es'}}</sub>
                        <p>{{noticia.description | excerpt: 80}}</p>
                        <p>Por: {{noticia.author}}</p>
                    </mat-card-content>
                </mat-card>
            </a>            
        </mat-grid-tile>        
    </mat-grid-list>
</div>

